body, html{
    background-color: blanchedalmond;
    color: darkslateblue;
    padding: 25px;
    font-size: 20px;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}